
.navbar1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.menu1{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	}

	.intro-section{
		font-size: 16px;
		padding: 110px 0px;
	}
	h2.section-title{
		font-size: 60px;
	}
	span{
		color: grey;
	}
	.portfolio-section{
		font-size: 16px;
	}
	.container{
		margin: 0px 45.5px;
		padding: 0px 15px;
	}
	ul{
		list-style-type: none;
		display: flex;
		flex-direction: row;
	
	}
	li{
		margin-left: 30px;
	}
	
	.social-links {
    margin-top: 60px;
    margin-bottom: 40px;
    color:black;
}

.social-links a:last-child{margin-right:0}
