h1{
	color:blue;
	font-weight: 3px;
	font-family: Arial;
	background-color: yellow;
}

p{
	border:dotted 2px;
	border-color: brown;
border-collapse: 3px;

}
ul{
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
li {
    float:right;
     display: block;
    color: white;
font-size:18px;
    text-align: center;
  padding:50px 16px;
    text-decoration: none;
}

